@import "tailwindcss";
@import "./styles/theme.css";


html{
  scroll-behavior:smooth;
}

body{
  font-family:"Inter",sans-serif;
  background:#020617;
  color:white;
}

.logo-font{
  font-family:"Space Grotesk",sans-serif;
}

.terminal-font{
  font-family:"JetBrains Mono",monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo {

font-family: "Space Grotesk";

}

.terminal {

font-family: "JetBrains Mono";

}

